<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.SpecilMapper">
    <cache/>
    <resultMap id="myResultMap" type="specil">
        <id property="sid" column="spilinfoid"/>
        <result property="did" column="depinfdid"/>
        <result property="scode" column="spilinfocode"/>
        <result property="sname" column="spilinfoname"/>
        <result property="saim" column="spilinfoaim"/>
        <result property="sprodire" column="spilinfoprodire"/>
    </resultMap>

    <select id="findSpecilById" parameterType="int" resultMap="myResultMap">
        select * from specilinfo where spilinfoid=#{id}
    </select>

    <select id="findAllSplit" parameterType="java.util.Map" resultMap="myResultMap">
        select * from specilinfo where 1=1
        <if test="#{colName}!=null and #{keyword}!=null">
            and ${colName} like concat ('%',#{keyword},'%')
        </if>
        <if test="#{start}!=null and #{pageSize}!=null">
            limit #{start},#{pageSize}
        </if>
    </select>


</mapper>